{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "fedora")) -}}

{{ $packages := list
     "fd-find"
     "fish"
     "fzf"
     "google-chrome-stable"
     "helix"
     "htop"
     "krb5-workstation"
     "libstdc++-devel"
     "lm_sensors"
     "lshw"
     "openldap-clients"
     "p7zip"
     "p7zip-plugins"
     "podman"
     "podman-compose"
     "ripgrep"
     "unrar"
     "youtube-dl"
     "neovim"
     "nodejs-npm"
     "jq"
     "python3-ipython"
     "cargo"
     "rust"
     "rust-src" -}}

{{/* Add gnome apps and extensions */}}
{{- if eq .chezmoi.osRelease.variantID "workstation" -}}
{{ $packages = concat $packages (list
     "gnome-extensions-app"
     "gnome-shell-extension-caffeine"
     "gnome-shell-extension-just-perfection"
     "gnome-shell-extension-blur-my-shell"
     "gnome-shell-extension-dash-to-dock"
     "gnome-tweaks"
) -}}
{{ end -}}

{{/* Add GUI apps */}}
{{- if not .headless -}}
{{- $packages = concat $packages (list
     "gimp"
     "inkscape"
) -}}
{{ end -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

echo -e "\033[0;32m>>>>> Begin Setting Up Fedora Linux Packages <<<<<\033[0m"

# Increase max parallel downloads in DNF
if [ ! $(grep -o "max_parallel_downloads" /etc/dnf/dnf.conf) ]; then
  {{ $sudo }}cp /etc/dnf/dnf.conf{,.bkp}
  {{ $sudo }}sed -i "$ a\max_parallel_downloads=10" /etc/dnf/dnf.conf
fi

# Enable RPM fusion repos
if [ ! $(dnf repolist | grep -o -m 1 rpmfusion) ]; then
  {{ $sudo }}dnf install -y \
    https://download1.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm
  {{ $sudo }}dnf install -y \
    https://download1.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm
fi

# Ensure Google Chrome repo is enabled
{{ $sudo }}dnf config-manager --enable google-chrome

{{ $sudo }}dnf upgrade -y --refresh
{{ $sudo }}dnf install -y {{ $packages | join " " }}

echo -e "\033[0;32m>>>>> Finish Setting Up Fedora Linux Packages <<<<<\033[0m"

{{ end -}}
