{{- /* chezmoi config file template */ -}}

{{/* boolean feature tags */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}

{{- $email := promptStringOnce . "email" "Email address" -}}

dot_config = true

[data]
    email = {{ $email | quote }}
    headless = {{ $headless }}

[github]
    refreshPeriod = "12h"
